<?xml version="1.0" encoding="utf-8" ?>
<mapper namespace="com.using.dao.UserMapper" type="com.using.entity.User">
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.using.entity.User">
        select
        id, nick, phone, email
        from users
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from users where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.using.entity.User" resultMap="java.lang.Integer">
        insert into users(id, nick, phone, email) values(#{id}, #{nick}, #{phone}, #{email})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.using.entity.User" resultType="java.lang.Integer">
        update users set nick = #{nick}, phone = #{phone}, email = #{email} where id = #{id}
    </update>
</mapper>