<?xml version="1.0" encoding="utf-8" ?>
<mapper namespace="com.using.dao.UserMapper" type="com.using.entity.User">
    <resultMap id="BaseResultMap" type="com.using.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nick" jdbcType="VARCHAR" property="nick"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, nick, phone, email
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.using.entity.User">
        select
        id, nick, phone, email
        from users
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from users where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.using.entity.User" resultMap="java.lang.Integer">
        insert into users(id, nick, phone, email) values(i)
    </insert>

    <insert id="insertSelective" parameterType="com.using.entity.User" resultType="java.lang.Integer">

    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.using.entity.User" resultType="java.lang.Integer">

    </update>

    <update id="updateByPrimaryKey" parameterType="com.using.entity.User" resultType="java.lang.Integer">

    </update>
</mapper>